.section.sponsors.light
  h3 Sponsored by
  .sponsor-logo-grid
    img(
        class="sponsor"
        src="/images/sponsors/TTBC-Registered+Logo-BLK_green.png"
    )
    img(
        class="sponsor"
        src="/images/sponsors/DT_Logo_SBUpdate_green.png"
    )
    img(
        class="sponsor"
        src="/images/sponsors/1280px-Trek_Bicycle_Corporation_logo.svg_green.png"
    )
    img(
        class="sponsor"
        src="/images/sponsors/GoPro-Logo_green.png"
    )
    img(
        class="sponsor"
        src="/images/sponsors/Logo_of_CamelBak_Products_LLC_green.png"
    )
    img(
        class="sponsor"
        src="/images/sponsors/clifbar-logo.0f7b43f.svg"
    )