head
  meta(
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  )
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  )
  title= "Coalescence | An Opportunity to Disconnect"

  link(
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Julius+Sans+One|PT+Sans"
  )

  link(
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css"
  )

  link(
    rel="stylesheet"
    href="/css/site.css"
  )

  script(src="https://code.jquery.com/jquery-3.3.1.min.js")

  script.
    //page load animation
    $(window).on("load", function () {
      $("#loading img").fadeOut(200);
      $("#loading").delay(400).fadeOut(200);
    });
