extends ../template.pug


block content
  - var page = "activities"
  div(
    class="fixed flex items-center" 
    id="loading"
    style="z-index: 50000;"
  )
    img(
      class="m-auto inline-block max-w-xs" 
      src="/images/coalescence-logo.svg"
    )
  .fries.menu-hide.custom-type.animate-smooth.animate-dur-md
    .flex.flex-col.justify-center.items-center.h-full
      include ../modules/menu.pug
  .coalesce-body.not-home
    #navigation.burger-and-fries-container
      a(href="/" class="logo-in-navigation")
        img(
          class="logo-in-navigation-img" 
          src="/images/coalescence-logo.svg"
        )
      .burger-and-fries
        <button class="hamburger hamburger--collapse js-hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> 
      .menu-on-large
        include ../modules/menu.pug
  .section.activities.main-section.not-home
    .inner
      h1 Activities
      p Whether you want to level up or try something new, the Sierra Nevadas have something for everyone!
      hr
      .section-layout-2
          h2.hide-on-large Camping
          .layout-2-content
            .text
              h2.show-on-large Camping
              p This camp out is for the curious beginner and the experienced outdoors person. 
              p Everyone has a chance to participate as much or as little as they want in activities put on by our teachers, sponsors, partners and Coalescees.
            .image
              .picture-frame.picture-frame-1
                img(
                    class="trees"
                    src="/images/camping.jpg"
                )
      .section-layout-2
          h2.hide-on-large Hiking
          .layout-2-content
            .text
              h2.show-on-large Hiking
              p This camp out is for the curious beginner and the experienced outdoors person. 
            .image
              .picture-frame.picture-frame-1
                img(
                    class="trees"
                    src="/images/hiking.jpg"
                )
      .section-layout-2
          h2.hide-on-large Climbing
          .layout-2-content
            .text
              h2.show-on-large Climbing
              p This camp out is for the curious beginner and the experienced outdoors person. 
            .image
              .picture-frame.picture-frame-1
                img(
                    class="trees"
                    src="/images/climbing.jpg"
                )
      .section-layout-2
          h2.hide-on-large Mountain Biking
          .layout-2-content
            .text
              h2.show-on-large Mountain Biking
              p This camp out is for the curious beginner and the experienced outdoors person. 
            .image
              .picture-frame.picture-frame-1
                img(
                    class="trees"
                    src="/images/mountain-biking.jpg"
                )
      .section-layout-2
          h2.hide-on-large Yoga
          .layout-2-content
            .text
              h2.show-on-large Yoga
              p This camp out is for the curious beginner and the experienced outdoors person. 
            .image
              .picture-frame.picture-frame-1
                img(
                    class="trees"
                    src="/images/yoga.jpg"
                )
  .section.rsvp
    h2 Join us June 11-13, 2021. 
    p Reserve your spot today and be one of the few founding Coalescees.
    a.cta(target="_blank", href="http://www.eventbrite.com") RSVP
      span → 
  .sections-layout-1
    include ../modules/sponsors.pug
    .section.newsletter
      include ../modules/newsletter.pug

  img(
      class="footer-image"
      src="/images/footer/footer2.png"
  )
  p.footer-note Coalescence 2020 ©