extends ../template.pug

block content
  div(
    class="fixed flex items-center" 
    id="loading"
    style="z-index: 50000;"
  )
    img(
      class="m-auto inline-block max-w-xs" 
      src="/images/coalescence-logo.svg"
    )
  .fries.menu-hide
    .flex.flex-col.justify-center.items-center.h-full
      include ../modules/menu.pug
  .coalesce-body
    #navigation.burger-and-fries-container
      a(href="/" class="logo-in-navigation")
        img(
          class="logo-in-navigation-img" 
          src="/images/coalescence-logo.svg"
        )
      .burger-and-fries
        <button class="hamburger hamburger--collapse js-hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> 
      .menu-on-large
        include ../modules/menu.pug
    header.parallax-header.relative
      .sliding-background
        .sliding-background-inner
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
      img(
        class="layer-1 absolute w-full z-30 pin-b"
        src="/images/drafts/F/Coalescence-Website-Page-1.png"
      )
      img(
        class="layer-5 absolute w-full z-20 pin-b"
        src="/images/drafts/F/Coalescence-Website-Page-1-Sun-2.png"
      )
      img(
        class="layer-2 absolute w-full z-40 pin-b"
        src="/images/drafts/D/Coalescence-Website-Page-2.png"
      )
      .circle-bg
  .section.minifesto
    .background
    .inner
      h2 DISCONNECT TO RECONNECT
      p Coalescence is a choose-your-own-adventure style campout focused on celebrating nature through outdoor activities and fellowship. 
      p Try something new or show off your skills by hiking, climbing, kayaking, mountain biking, swimming, or practicing yoga. 
      p Over our three days together in the mountains, we can begin to reconnect with ourselves, each other, and with nature. 
  .radical-cooperation-2
    .picture-frame.picture-frame-1.homepage-picture-frame
      img(
          class="image-border image-border-1"
          src="/images/couple-hiking-mountain-climbing-1296x728-header.jpg"
      )
      img(
        class="image-border image-border-2 show-on-medium"
        src="/images/campfire.JPG"
      )
    .section
      h2 ART AND MUSIC
      p Join us as we decorate space and time through the intertwining of art, music and dance. 
      p Leave your mark on the collaborative mural, then moonwalk over to the pavilion to boogie down with our live bands and DJs. 
      p Stop by the swap meet and browse the wares of your fellow Coalescees on your way to the bonfire, where you can share your newest song or your passion for poetry at the drum circle talent show. 
      p Before you settle into your tent, cheer for the fire dancers lighting up the night. Whether you enjoy creating art, appreciating it, or both, there is a place for you here under the stars.
  .radical-cooperation-2
    .picture-frame.picture-frame-1.homepage-picture-frame
      img(
          class="image-border image-border-1"
          src="/images/hiking-with-ranger-2to1.jpg"
      )
      img(
        class="image-border image-border-2 show-on-medium"
        src="/images/campfire.JPG"
      )
    .section
      h2 Radical Cooperation
      p Like anything in life, Coalescence is what you make it. 
      p We ask that every Coalescee contribute in some way – whether you’re leading an activity, picking up trash, helping coordinate a meal, organizing a gear exchange, or throwing a camp party, the true magic of Coalescence doesn’t happen without you! 
      p As you prepare for the weekend, brainstorm how you can make the experience more special not only for yourself but for those you’ll be sharing it with.
      p Together, we coalesce.
  .section.rsvp
    .inner
      h2 Join us June 11-13, 2021. 
      p Reserve your spot today and be one of the few founding Coalescees.
      a.cta(target="_blank", href="http://www.eventbrite.com") RSVP
        span → 
  .sections-layout-1
    include ../modules/sponsors.pug
    .section.newsletter
      include ../modules/newsletter.pug
  include ../modules/footer.pug
  