extends ../template.pug

block content
  div(
    class="w-full h-full fixed flex items-center" 
    id="loading"
    style="background-color: #000; z-index: 100;"
  )
    img(
      class="w-32 sm:w-64 m-auto inline-block max-w-xs" 
      src="/images/coalescence-badge.svg"
    )
  .coalesce-body
    header.parallax-header.relative.flex
      .absolute.title-container.w-full.h-full.pin-t.pin-r.flex.z-40
        img(
          class="layer-1-5 z-30 m-auto w-4/5 sm:w-1/2 md:w-2/5 relative primary-title"
          src="/images/coalescence-logo.svg")
      img(
        class="layer-1 absolute w-full z-30 pin-b"
        src="/images/drafts/D/Coalescence-Website-Page-1.png")
      img(
        class="layer-2 absolute w-full z-40 pin-b"
        src="/images/drafts/D/Coalescence-Website-Page-2.png")
      img(
        class="layer-4 absolute w-full z-0 pin-b"
        src="/images/drafts/D/Coalescence-Website-Page-3.png")
    .section.disconnect-reconnect
      h2 Disconnect from technology and reconnect with nature
    .section.minifesto
        h2.f2.tc Minifesto
        p.f3 Come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
        p.f3 Whether you're trying something new or perfecting your skills, Coalescence is for the curious beginner and the experienced outdoors person. 
        p.f3 Each day you'll have the opportunity to participate in activities put on by our teachers, sponsors, partners and other Coalescees. 
        p.f3 In the evening, join everyone for a communal dinner before dancing the night away.
        p.f3 Like anything, Coalescence is what you make it. We ask that every Coalescee contribute in some way or another--whether its leading an activity, organizing a gear exchange or throwing a camp party.
        p.f3 Together, we coalesce.
  //- .section.iconography-row
      .icon-text-lock.py-12
        .icon.white
          include ../../images/icons/noun_Tent_743996.svg
  .section
    h2 Principles
    p Reduce, reuse, then recycle
    p Leave no trace
    p Use the least amount of resources
    p Cause the least amount of harm
    p Contribute with intention/radical contribution
  .section
    h2 Outdoor activities
    p Camping & Lodging - join us on a guided hike to a small water fall or set out in your own and explore everything the Sierra Nevadas has to offer.
    p Hiking - join us on a guided hike to a small water fall or set out in your own and explore everything the Sierra Nevadas has to offer.
    p Climbing - ascend the Sierra’s rocky cliffs with our guided instructors, who are there to train the beginner and root on the experienced climber. 
    p Mountain Biking - ride hundreds of miles of single track throughout the Sierra Nevadas at China Basin Mountain Park. Rent or bring your own bikes and gear and then take a gondola to the top, ride down and repeat! 
    p Yoga - build and deepen your connection with the outdoors through yoga and meditation. Practicing yoga in nature will nourish your soul and heighten your consciousness. 
  .section
    h2 Community
    p I'm baby hoodie ramps cliche succulents. Hella hashtag gluten-free, pour-over chartreuse bicycle rights twee wayfarers tote bag listicle scenester artisan dreamcatcher ramps. Succulents sustainable taxidermy, scenester whatever schlitz truffaut chartreuse lumbersexual echo park cred skateboard retro craft beer drinking vinegar. Literally ramps migas, butcher heirloom enamel pin swag direct trade farm-to-table 3 wolf moon succulents four loko vinyl. Neutra man bun tbh affogato, biodiesel banjo kitsch live-edge kinfolk irony cronut tote bag bushwick quinoa. Cardigan selfies snackwave wolf keffiyeh trust fund iPhone raclette fashion axe.
  .section
    h2 Social Responsibility
    p In being good stewards of the land, we partner with local conservation and environmental organizations to preserve the lands we use throughout the weekend. 
  .section
    h2 Music & The Arts
    p Enjoy music and art as we intertwine the two with nature creating a deeper, more intimate experience. 
  .section
    h2.white.no-underline #CoalescenceFest
    include ../modules/instagram.pug
  //- .section
    h2 FAQs 
  .div(class="relative block overflow-hidden flex flex-wrap w-full justify-center")
    section(
      class="w-full h-full relative block" id="footerparallax"
    )
      img(class="layer-1-foot absolute w-full z-30 pin-b" src="/images/footer/layer-1.png")
      img(class="layer-2-foot absolute w-full z-20 pin-b" src="/images/footer/layer-2.png")
      img(class="layer-3-foot absolute w-full z-10 pin-b" src="/images/footer/layer-3.png")
  .section.bg-mineralGreen
    h3.Merriweather.white Stay up to date with us 
    p.mt-3.white By visiting this site and sending a message to 
      a(href="mailto:Coalescence@gmail.com") Coalescence@gmail.com

    
    
    