extends ../template.pug

block content
  div(
    class="fixed flex items-center bg-salmon" 
    id="loading"
    style="z-index: 50000;"
  )
    img(
      class="m-auto inline-block max-w-xs" 
      src="/images/coalescence-logo.svg"
    )
  .
    <div class="fries menu-hide custom-type grind-dark-bg animate-smooth animate-dur-md">
      <div class="flex flex-col justify-center items-center h-full">
        <a class="" href="https://grinduro.com/">RSVP</a>
        <a class="" href="about.html">About</a>
        <a class="" href="news.html">Activities</a>
        <a class="" href="news.html">FAQs</a>
        <a class="" href="contact.html">Contact</a>
      </div>
    </div>
  .coalesce-body
    #navigation.burger-and-fries-container
      img(
        class="logo-in-navigation" 
        src="/images/coalescence-logo.svg"
      )
      .burger-and-fries
        <button class="hamburger hamburger--collapse js-hamburger" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button> 
    header.parallax-header.relative
      .sliding-background
        .sliding-background-inner
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
      img(
        class="layer-1 absolute w-full z-30 pin-b"
        src="/images/drafts/F/Coalescence-Website-Page-1.png"
      )
      img(
        class="layer-5 absolute w-full z-20 pin-b"
        src="/images/drafts/F/Coalescence-Website-Page-1-Sun-2.png"
      )
      img(
        class="layer-2 absolute w-full z-40 pin-b"
        src="/images/drafts/D/Coalescence-Website-Page-2.png"
      )
      .circle-bg
  .section.minifesto
      h2 DISCONNECT TO RECONNECT
      p Coalescence is a choose-your-own-adventure style campout focused on celebrating nature through outdoor activities and fellowship. 
      p Try something new or show off your skills by hiking, climbing, kayaking, mountain biking, swimming, or practicing yoga. Over our three days together in the mountains, we can begin to reconnect with ourselves, each other, and with nature.
  img(
    src="/images/campfire.JPG"
  )
  .section
    h2 Radical Cooperation
    p Like anything in life, Coalescence is what you make it. 
    p We ask that every Coalescee contribute in some way — whether you’re leading an activity, picking up trash, helping coordinate a meal, organizing a gear exchange, or throwing a camp party, the magic of Coalescence doesn’t happen without you! 
    p As you prepare for the weekend, brainstorm how you can make the experience more special not only for yourself but for those you’ll be sharing it with.
  .section.rsvp
    h2 Join us June 11-13, 2021. 
    p Reserve your spot today and be one of the few founding Coalescees.
    a.cta(target="_blank", href="http://www.eventbrite.com") RSVP
      span → 
  .section.sponsors.light
    h3 Sponsored by
    .sponsor-logo-grid
      img(
          class="sponsor"
          src="/images/sponsors/TTBC-Registered+Logo-BLK_green.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/DT_Logo_SBUpdate_green.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/1280px-Trek_Bicycle_Corporation_logo.svg_green.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/GoPro-Logo_green.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/Logo_of_CamelBak_Products_LLC_green.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/clifbar-logo.0f7b43f.svg"
      )
  .section.newsletter
    include ../modules/newsletter.pug
  img(
      class="footer-image"
      src="/images/footer/footer2.png"
  )
  p.footer-note Coalescence 2020 ©