extends ../template.pug

block content
  div(
    class="fixed flex items-center bg-salmon" 
    id="loading"
    style="z-index: 100;"
  )
    img(
      class="m-auto inline-block max-w-xs" 
      src="/images/coalescence-logo.svg"
    )
  .coalesce-body
    #navigation.burger-and-fries-container
      img(
        class="logo-in-navigation" 
        src="/images/coalescence-logo.svg"
      )
      .burger-and-fries
        //- a.btn.rsvp(href="http://google.com" target="_blank") 
          span RSVP at Eventbrite
        button.burger(href="javascript:void(0);")
          include ../../images/icons/menu.svg
    header.parallax-header.relative
      .sliding-background
        .sliding-background-inner
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
          img(
            src="/images/drafts/D/Coalescence-Website-Page-3.png"
          )
      img(
        class="layer-1 absolute w-full z-30 pin-b"
        src="/images/drafts/F/Coalescence-Website-Page-1.png"
      )
      img(
        class="layer-5 absolute w-full z-20 pin-b"
        src="/images/drafts/F/Coalescence-Website-Page-1-Sun-2.png"
      )
      img(
        class="layer-2 absolute w-full z-40 pin-b"
        src="/images/drafts/D/Coalescence-Website-Page-2.png"
      )
      .circle-bg
  .section.minifesto
    h2.f2.tc DISCONNECT TO RECONNECT
    p.f3 Join us on a "choose your own adventure" style campout as we celebrate nature through camping, outdoor activities and community. Over three days, we can begin to reconnect with ourselves, each other and nature.   
  .section.sponsors.light
    h3 Sponsored by
    .sponsor-logo-grid
      img(
          class="sponsor"
          src="/images/sponsors/TTBC-Registered+Logo-BLK.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/DT_Logo_SBUpdate.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/GoPro-Logo.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/Logo_of_CamelBak_Products_LLC.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/1280px-Trek_Bicycle_Corporation_logo.svg.png"
      )
      img(
          class="sponsor"
          src="/images/sponsors/clif_company_logo.jpeg"
      )
  .section
    h2.f2.tc Stay active
    p.f3 Try something new or refine your skills by climbing, hiking, kayaking, mountain biking, swimming, or practicing yoga. At night, join everyone for a communal dinner or do your own thing before dancing and listening to music.
  img(
      class="footer-image"
      src="/images/dangit-bobby.jpg"
  )
  .section
    h2.f2.tc With Our Powers Combined...
    p.f3 Like anything, Coalescence is what you make it. We ask that every Coalescee contribute somewhow--whether its leading an activity, picking up trash, helping coordinate a meal, organizing a gear exchange or throwing a camp party!
  img(
      class="footer-image"
      src="/images/camping-hacks.jpg"
  )
  .section.light.join-us
    h2.f2.text-center Join us 
    p.f3 Be one of the few founding members that builds Coalescence. Join us June 11-14, 2021.
    a.rsvp-big(target="_blank", href="http://www.eventbrite.com") RSVP


  //- .section
    h2 Principles
    p Reduce, reuse, then recycle
    p Leave no trace
    p Use the least amount of resources
    p Cause the least amount of harm
    p Contribute with intention/radical contribution
  //- .section
    h2 Outdoor activities
    p Camping & Lodging - join us on a guided hike to a small water fall or set out in your own and explore everything the Sierra Nevadas has to offer.
    p Hiking - join us on a guided hike to a small water fall or set out in your own and explore everything the Sierra Nevadas has to offer.
    p Climbing - ascend the Sierra’s rocky cliffs with our guided instructors, who are there to train the beginner and root on the experienced climber. 
    p Mountain Biking - ride hundreds of miles of single track throughout the Sierra Nevadas at China Basin Mountain Park. Rent or bring your own bikes and gear and then take a gondola to the top, ride down and repeat! 
    p Yoga - build and deepen your connection with the outdoors through yoga and meditation. Practicing yoga in nature will nourish your soul and heighten your consciousness. 
  //- .section
    h2 Community
    p I'm baby hoodie ramps cliche succulents. Hella hashtag gluten-free, pour-over chartreuse bicycle rights twee wayfarers tote bag listicle scenester artisan dreamcatcher ramps. Succulents sustainable taxidermy, scenester whatever schlitz truffaut chartreuse lumbersexual echo park cred skateboard retro craft beer drinking vinegar. Literally ramps migas, butcher heirloom enamel pin swag direct trade farm-to-table 3 wolf moon succulents four loko vinyl. Neutra man bun tbh affogato, biodiesel banjo kitsch live-edge kinfolk irony cronut tote bag bushwick quinoa. Cardigan selfies snackwave wolf keffiyeh trust fund iPhone raclette fashion axe.
  //- .section
    h2 Social Responsibility
    p In being good stewards of the land, we partner with local conservation and environmental organizations to preserve the lands we use throughout the weekend. 
  //- .section
    h2 Music & The Arts
    p Enjoy music and art as we intertwine the two with nature creating a deeper, more intimate experience. 
  //- .section
    h2.white.no-underline #CoalescenceFest
    include ../modules/instagram.pug
  //- .section
    h2 FAQs 
  img(
      class="footer-image"
      src="/images/footer/footer.png"
  )
  //- .div(class="relative block overflow-hidden flex flex-wrap w-full justify-center")
  //-   section(
  //-     class="w-full h-full relative block" id="footerparallax"
  //-   )
  //-     img(class="layer-1-foot absolute w-full z-30 pin-b" src="/images/footer/layer-1.png")
  //-     img(class="layer-2-foot absolute w-full z-20 pin-b" src="/images/footer/layer-2.png")
  //-     img(class="layer-3-foot absolute w-full z-10 pin-b" src="/images/footer/layer-3.png")
  .section.bg-mineralGreen
    h3.Merriweather.white Stay up to date with us 
    .
      <form class="w-full max-w-sm">
        <label>Enter your email address to join our newsletter</label>
        <div class="flex items-center bg-white py-2">
          <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none bg-white" type="text" placeholder="dangitbobby@gmail.com" aria-label="Email address">
          <button class="fancy-text flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
            Sign Up
          </button>
        </div>
      </form>
  //- include ../modules/instagram.pug


    
    
    